<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="6.0">
  <display-name>AgendaServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UsuarioServlet</display-name>
    <servlet-name>UsuarioServlet</servlet-name>
    <servlet-class>controller.UsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsuarioServlet</servlet-name>
    <url-pattern>/UsuarioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TarefaServlet</display-name>
    <servlet-name>TarefaServlet</servlet-name>
    <servlet-class>controller.TarefaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TarefaServlet</servlet-name>
    <url-pattern>/TarefaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsuarioTarefa</display-name>
    <servlet-name>UsuarioTarefa</servlet-name>
    <servlet-class>controller.UsuarioTarefa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsuarioTarefa</servlet-name>
    <url-pattern>/UsuarioTarefa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TarefaEditarServlet</display-name>
    <servlet-name>TarefaEditarServlet</servlet-name>
    <servlet-class>controller.TarefaEditarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TarefaEditarServlet</servlet-name>
    <url-pattern>/TarefaEditarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TarefaExcluirServlet</display-name>
    <servlet-name>TarefaExcluirServlet</servlet-name>
    <servlet-class>controller.TarefaExcluirServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TarefaExcluirServlet</servlet-name>
    <url-pattern>/TarefaExcluirServlet</url-pattern>
  </servlet-mapping>
</web-app>